body{
  border-top:4px solid #445;
}
.page{
  width:1000px;
  margin: 10px auto;
}
header{
  padding: 10px 20px 0;
  border-bottom: 2px solid #889;
}
header .title{
  font-size:65px;
  line-height: 65px;
  font-weight:bold;
  color: #445;
}
header .subtitle{
  font-size:25px;
  font-weight:bold;
  color: #889;
  margin: 0 0 0 2px;
}

.content{
  margin: 10px 0;
  padding: 5px;
  .sectionTitle{
    margin: 0 0 5px;
  }
}

.contact{
  margin:20px 0;
  .supertitle{
    font-color:#889;
    font-size:11px;
  }
  .title{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
  }
}
