[submodule "projects/biomorphs"]
	path = projects/biomorphs
	url = https://github.com/rodikh/biomorphs.git
[submodule "projects/particles"]
	path = projects/particles
	url = https://github.com/rodikh/particles.git
[submodule "projects/fractals"]
	path = projects/fractals
	url = https://github.com/rodikh/fractals.git
[submodule "projects/triangle-wars"]
	path = projects/triangle-wars
	url = https://github.com/rodikh/triangle-wars.git
