@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background-color: #5D5D5D;
	text-align:center;
}

section.board{
	margin: 50px auto;
	width: 600px;
	height:600px;
	background-color: #EEE;	
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.496094) 1px 2px 6px;
	box-shadow: rgba(0, 0, 0, 0.496094) 1px 2px 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 1px 2px 6px;	
	overflow:hidden;
}

.board .cell{
	width:199px;
	height:199px;
	border-right:1px solid black;
	border-bottom:1px solid black;	
	float:left;
	cursor:pointer;
}
.board .row:first-child .cell{
	border-top:none;
	height:200px;
}
.board .row .cell:last-child{
	border-right:none;
	width:200px;
}
.board .cell:hover{
	background: #ddd;	
}
.board .cell[data-owner="1"]{
	background: blue;	
}
.board .cell[data-owner="2"]{
	background: red;	
}