body {
  background: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 300;
}

canvas {
  position:fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  padding: 50px;
}

.header {
  margin: 0 0 10px;

  h1,
  h2 {
    margin: 0;
  }

}


a {
  color: white;
}

.project {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 20px;

  background: #4414cc;
}

.delay1 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
.delay2 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.delay3 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
.delay4 {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.delay5 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
