<div class="row projects">
    <section class="col-md-4 category">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Mathematics</h3></div>
            <div class="panel-body">
                <article>
                    <a href="#projects/fractals/">Fractals</a>
                </article>
                <article>
                    <span>Math Genetics approximator</span>
                </article>
                <article>
                    <a href="#projects/biomorphs/">Biomorphs</a>
                </article>
            </div>
        </div>
    </section>
    <section class="col-md-4 category">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Physics & Graphics</h3></div>
            <div class="panel-body">
                <article>
                    <a href="projects/particles/demos/1">Particle Engine</a>
                </article>
                <article>
                    <a href="projects/particles/demos/2">QuadTree - Particle Lines</a>
                </article>
                <article>
                    <a href="projects/particles/demos/4">Orbital Mechanics</a>
                </article>
                <article>
                    <a href="projects/particles/demos/3">Gravitational Physics</a>
                </article>
            </div>
        </div>
    </section>
    <section class="col-md-4 category">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Games & Game Dev</h3></div>
            <div class="panel-body">
                <article>
                    <a href="projects/triangle-wars">Triangle Wars</a>
                </article>
                <article>
                    <a href="projects/tictactoe">Tic Tac Toe</a>
                </article>
            </div>
        </div>
    </section>
</div>